body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fondo negro */
    color: #e0e0e0; /* Color de texto en gris claro para contraste */
}

header {
    background-color: #121212; /* Negro para el encabezado */
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    border-bottom: 5px solid #e10eb8; /* Detalle elegante con borde rosa claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-size: 1.6rem;
    letter-spacing: 1px;
}

main {
    padding: 2rem;
    background-color: #1f1f1f; /* Fondo gris oscuro para la sección principal */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 2rem auto;
}

footer {
    background-color: #121212; /* Negro para el pie de página */
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
    border-top: 5px solid #e10eb8; /* Detalle elegante en el pie de página */
}

button {
    background-color: #ff1493; /* Rosa fuerte */
    color: #fff;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff69b4; /* Rosa más suave al pasar el ratón */
}

a {
    color: #f78fb3; /* Rosa suave para los enlaces */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #d06f93; /* Rosa oscuro para el hover en enlaces */
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    color: #f78fb3; /* Rosa claro para los títulos */
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
    color: #e0e0e0; /* Gris claro para el texto */
    font-size: 1.1rem;
}


